src/com/kiwisoft/utils/text/syntaxes/syntax.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2006 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="blockComment">
		<xs:complexType>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="comment1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="begin" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="end" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="*/"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="keyword">
		<xs:complexType mixed="true">
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="lineComment">
		<xs:complexType mixed="true">
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="comment1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="literal">
		<xs:complexType>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="literal1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="begin" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="end" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="noLineBreak" type="xs:boolean" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="markPrevious">
		<xs:complexType>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="function"/>
						<xs:enumeration value="label"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="end" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="("/>
						<xs:enumeration value=":"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="excludeMatch" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:boolean"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="lineStart">
				<xs:simpleType>
					<xs:restriction base="xs:boolean"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="exclude">
				<xs:simpleType>
					<xs:restriction base="xs:boolean"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="markFollowing">
		<xs:complexType>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="begin" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="sequence">
		<xs:complexType mixed="true">
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="syntaxDefinition">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="syntaxRules"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="syntaxRules">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="blockComment" minOccurs="0"/>
				<xs:element ref="lineComment" minOccurs="0"/>
				<xs:element ref="literal" minOccurs="0"/>
				<xs:element ref="markPrevious" minOccurs="0"/>
				<xs:element ref="markFollowing" minOccurs="0"/>
				<xs:element ref="sequence" minOccurs="0"/>
				<xs:element ref="keyword" minOccurs="0"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:string"/>
			<xs:attribute name="escape" type="xs:string"/>
			<xs:attribute name="ignoreCase" type="xs:boolean"/>
			<xs:attribute name="highlightDigits" type="xs:boolean"/>
			<xs:attribute name="terminateChar" type="xs:unsignedByte"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
